h1 {
	text-align: center;
}
.game-board {
	empty-cells: show;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

td {
	border: 2px solid black;
	padding: 60px;
	cursor: pointer;
	font-size: 70px;
	font-family: "Permanent Marker", sans-serif;
	font-weight: 800;
}

td:hover {
	background-color: #C2C2FF;
}

tbody {
	border-color: black

}

button {
	margin-left: 467px;
	margin-top: 15px;
	border-radius: 5px;
	background-color: #C2C2FF;
	font-family: sans-serif;
	height: 100px;
	width: 125px;
}